.banner {
    padding: 100px 0;
    background: url(../../assets/image/banner1.jpg);
    background-size: cover;
    background-position: center;
}
.banner_content{
    position: relative;
}
.banner_content img {
    position: absolute;
    bottom: 100%;
    right: 100%;
    animation: fade 2s linear infinite;
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    40%{
        opacity: 0.1;
        transform: rotate(10deg);
    }
    100%{
        opacity: 1;
    }
}
.banner_content h1 {
    color: #fff;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 25px;
}
.banner_content p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}