.courses_container  {
    padding: 100px 0;
}
.courses_heading {
    width: 75%;
}
.courses_heading h1 {
    font-weight: bold;
    font-size: 30px;
}
.sidebar_link {
    border-bottom: 1px solid rgb(235, 233, 233);
}
.sidebar_link a{
    text-decoration: none;
    color: #222;
    font-size: 17px;
}

@media screen and (max-width: 700px) {
    .courses_heading{
        width: 100%;
    }   
    .courses_heading h1 {
        font-size: 27px;
        padding: 0 15px;
    }
    
}